// <FOOTER>============================================
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 120px;
  color: #707070;
  background: #000;
  // height: 30px;
  // text-align: center;
  // ??? не раб - SassError: Undefined mixin - @include flexbox();
  // @include flexbox();
  align-items: center;
  // justify-content: center;
  & p {
    font-size: 18px;
    color: #fff;
    // padding: 25px;
  }
  & a {
  }
}
