// <HEADER>====================================================

// header {
//   // display: flex;
//   @include flexbox();
//   // position: fixed;
//     justify-content: space-between;
//   height: 150px;
//   padding: 25px 03%;
//   background-color: $DarkRed;
//   box-shadow: #000000 3px 5px 20px 0.5px inset,
//     #000000 -3px -1px 10px 0.5px inset;
//   box-shadow: #000000 10px 10px 30px 7px inset,
//     #000000 -10px -10px 30px 7px inset;

//   @media (max-width: 553px) {
//     // @media (max-width: $md4+px) {

//     height: 120px;
//     padding: 20px 02%;

//     .header-logo .header-logo-smail {
//       width: 80px !important;
//       height: 80px !important;
//     }
//   }
// }

// //<MENU>====================================================
// .header-menu {
//   position: relative;
//   width: 100%;
//   // text-shadow: 0.5px 0.3px 0.5px #000;
//   &__top {
//     position: absolute;
//     right: 0;
//     top: 0;
//     .menu-list {
//       flex-flow: initial;
//     }
//     .menu-list__items {
//       float: left;
//     }
//   }

//   &__bottom {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//   }
//   // затемняет не то что выделено
//   ul:hover li:not(:hover) {
//     // не видно
//     // opacity: 0;
//     opacity: 0.7;
//   }
//   .menu-list {
//     display: flex;
//     // ??? убрать полсе решения последних li
//     // flex-flow: row wrap;
//     justify-content: space-evenly;
//     justify-content: flex-end;
//   }

//   .menu-list__items {
//     // для li кроме первого отступ с лево
//     &:not(:first-child) {
//       margin: 0 0 0px 10px;
//       z-index: 3;
//     }
//     // затемняет не то что выделено
//     &:hover .items__sub li:not(:hover) {
//       // opacity: 0.5;
//       // opacity: 1;
//     }
//     &:hover .items__sub {
//       display: block;
//     }
//     // всем, кроме первого. перебивает медиа запрос
//     // &:nth-child(n):not(:first-child) {
//     //   content: "open-quote";
//     //   // width: 150px;
//     //   // height: 50px;
//     // }
//     a.items__link {
//       color: #35170c;
//     }
//     &:nth-child(1) .items__link {
//       background-color: #ffff00;
//       background-color: #ff0000;
//       background-color: #ffff00;
//       // width: 170px;
//     }
//     &:nth-child(2) .items__link {
//       background-color: #fd2727;
//       background-color: #ffa500;
//       background-color: #ff0000;
//     }
//     &:nth-child(3) .items__link {
//       background-color: #00ba00;
//       background-color: #ffff00;
//       background-color: #0000ff;
//     }
//     &:nth-child(4) .items__link {
//       background-color: #008000;
//       background-color: #ffa500;
//     }
//     &:nth-child(5) .items__link {
//       background-color: #1c89bb;
//       background-color: #42aaff;
//     }
//     &:nth-child(6) .items__link {
//       // background-color: #ffffff;
//       // color: #000;
//       background-color: #0000ff;
//       background-color: #008000;
//       background-color: #00ba00;
//     }
//     &:nth-child(7) .items__link {
//       // background-color: #000000;
//       // color: #fff;
//       background-color: #008000;
//       background-color: #8b00ff;
//     }
//     &:nth-child(8) a.items__link {
//       background-color: #12621d;
//       background-color: #ffffff;
//       color: #000;
//     }
//     &:nth-child(9) a.items__link {
//       background-color: #961cbb;
//       background-color: #000000;
//       color: #fff;
//     }
//     // ??? не раб - уменьшать соседний передний блок, при наведении на сокращенный
//     // ??? не раб - уменьш себя а не соседа
//     // &:nth-child(n):hover {
//     //   // .menu-list__items:nth-child(n + 1)
//     //   &:nth-child(n + 1) {
//     //     width: 50px;
//     //     a {
//     //       width: 50px;
//     //     }
//     //     .link__last-bykv {
//     //       display: none;
//     //     }
//     //     background-color: #ffa;
//     //   }
//     // }
//     @media (max-width: 553px) {
//       // @media (max-width: $md4+px) {
//       header {
//         height: 120px;
//         padding: 20px 02%;
//       }
//       .header-logo .header-logo-smail {
//         width: 80px !important;
//         height: 80px !important;
//       }
//       .items__link,
//       .items__sub {
//         border-radius: 7px;
//         text-decoration: none;
//       }
//       // вибираем все li.menu-list__items кроме первого,
//       &:nth-child(n):not(:first-child) {
//         width: 20px !important;
//         // всем a.items__link перед дочерним элементом ставим <
//         & .items__link:nth-child(n)::before {
//           content: "<";
//         }
//         a.items__link {
//           width: 20px !important;
//           .link__firct-bykv {
//             display: none;
//             // text-shadow: 1px 1px#000000;
//           }
//         }
//         .items__sub {
//           width: 20px !important;
//           .sub__li {
//             width: 0px !important;
//             border: 0;
//           }
//         }
//       }
//     }
//     // ??? не раб - SassError: Undefined variable. - @media (max-width: $md0+px) {
//     @media (max-width: 1320px) {
//       // @media (max-width: $md0+px) {
//       // &:last-child
//       &:nth-child(7) {
//         width: 50px;
//         a {
//           width: 50px;
//         }
//         .link__last-bykv {
//           display: none;
//         }
//       }
//     }
//     @media (max-width: 1212px) {
//       &:nth-child(6) {
//         width: 50px;
//         a {
//           width: 50px;
//         }
//         .link__last-bykv {
//           display: none;
//         }
//       }
//     }
//     @media (max-width: 1106px) {
//       &:nth-child(5) {
//         width: 50px;
//         a {
//           width: 50px;
//         }
//         .link__last-bykv {
//           display: none;
//         }
//       }
//     }
//     @media (max-width: 1009px) {
//       &:nth-child(4) {
//         // width: 50px;
//         // a,
//         // .items__sub {
//         //   width: 50px;
//         // }
//         // .link__last-bykv,
//         // .li-a__last-bykv {
//         //   display: none;
//         // }
//         // .sub__li-a:hover {
//         //   &::before,
//         //   &::after {
//         //     content: "" !important;
//         //   }
//         // }
//         // ??? не раб - SassError: Undefined mixin - @include ulliul();
//         // @include ulliul();
//         width: 50px;
//         a,
//         .items__sub {
//           width: 50px;
//         }
//         .link__last-bykv,
//         .li-a__last-bykv {
//           display: none;
//         }
//         .sub__li-a:hover {
//           text-decoration: underline;
//           &::before,
//           &::after {
//             content: "" !important;
//           }
//         }
//       }
//     }
//     @media (max-width: 1212px) {
//       &:nth-child(6) {
//         // @include ulliul();
//         width: 50px;
//         a,
//         .items__sub {
//           width: 50px;
//         }
//         .link__last-bykv,
//         .li-a__last-bykv {
//           display: none;
//         }
//         .sub__li-a:hover {
//           text-decoration: underline;
//           &::before,
//           &::after {
//             content: "" !important;
//           }
//         }
//       }
//     }
//     @media (max-width: 1106px) {
//       &:nth-child(5) {
//         @include ulliul();
//       }
//     }
//     @media (max-width: 1009px) {
//       &:nth-child(4) {
//         // ??? не раб - SassError: Undefined mixin - @include ulliul();
//         @include ulliul();
//       }
//     }
//     @media (max-width: 903px) {
//       &:nth-child(3) {
//         // ??? не раб - SassError: Undefined mixin - @include ulliul();
//         @include ulliul();
//       }
//     }
//     @media (max-width: 797px) {
//       &:nth-child(2) {
//         // ??? не раб - SassError: Undefined mixin - @include ulliul();
//         // @include ulliul();
//         width: 50px;
//         a,
//         .items__sub {
//           width: 50px;
//         }
//         .link__last-bykv,
//         .li-a__last-bykv {
//           display: none;
//         }
//         .sub__li-a:hover {
//           text-decoration: underline;
//           &::before,
//           &::after {
//             content: "" !important;
//           }
//         }
//       }
//     }
//     @media (max-width: 680px) {
//       &:nth-child(1) {
//         width: 50px;
//         a.items__link {
//           width: 50px;
//         }
//         .link__last-bykv {
//           display: none;
//         }
//       }
//     }
//   }

//   .items__link {
//     // margin-top: 21px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100px;
//     width: 150px;
//     height: 30px;
//     height: 40px;
//     // ??? не раб - задать всем кроме последнего
//     // not:last-child.items__link:
//     // margin: 0 10px 20px 0;
//     // убираем пробел м/у span
//     font-size: 17px;
//     font-size: 25px;
//     // font-size: 0px;
//     font-weight: 400;
//     font-weight: 700;
//     font-style: italic;
//     list-style-type: none;
//     border: 1px solid #000;
//     border: 2px solid #000;
//     border-radius: 5px;
//     border-radius: 10px;
//     // border-top-left-radius: 10px;
//     // border-top-right-radius: 10px;
//     // border-bottom-left-radius: 10px;
//     // border-bottom-right-radius: 10px;
//     // тень li
//     box-shadow: -1px -1px 3px #000 inset, 2px 2px 10px black;
//     box-shadow: -1px -1px 3px #000 inset, 1px 1px 3px black;
//     &:hover {
//       // повесить на hover
//       box-shadow: 0 0 3px #555555 inset, 0px 0px 10px black;
//       // color: #000000;
//       &:before,
//       &:after {
//         // content: "!";
//       }
//     }
//     &:link {
//       color: $DarkRed;
//     }
//     // убираем пробел м/у span
//     .link__last-bykv,
//     .link__firct-bykv {
//       // font-size: 18px;
//     }
//   }

//   .menu__top a:link {
//     // color: $DarkRed;
//   }

//   .menu__top a:visited {
//     // color: #800080;
//   }

//   .menu__top a:hover {
//     color: #000000;
//   }

//   .menu__top a:active {
//     // color: #1400d4;
//   }

//   // .menu__top a {
//   //   display: inline-block;
//   //   width: 100%;
//   //   height: 100%;
//   // }
// }

// //<>====================================================

// .items__sub {
//   display: none;
//   // display: block;
//   // top: 20px;
//   font-style: italic;
//   font-size: 16px;
//   font-weight: 900;
//   text-align: center;
//   width: 120px;
//   // margin: 15px 2px 1px;
//   padding: 1px 3px 3px;
//   // float: right;
//   list-style-type: none;
//   border: 2px solid #000;
//   background: #ccc;
//   border-right: 10px;
//   .sub__li {
//     // opacity: 0.5;
//     display: block;
//     top: 25px;
//     margin-top: 3px;
//     background: #a3a3a3;
//     border: 1px solid #f00;
//     .sub__li-a {
//       text-decoration: none;
// font-size: 0;
// &:hover {
//   // color: #000000;
//   &::before {
//     content: ">>";
//   }
//   &:hover::after {
//     content: "<<";
//   }
// }
//       .li-a__firct-bykv,
//       .li-a__last-bykv {
//         // font-size: 16px;
//       }
//     }
//     // ??? не раб - SassError: Undefined variable. - @media (max-width: $md3+px) {
//     @media (max-width: 768px) {
//       // @media (max-width: $md3+px) {
//     }
//   }
// }

/*

.menu__top a:hover::before {
  content: "!!!";
  color: #000;
}

.menu__top a:hover::after {
  content: "!!!";
  color: #000000;
}

.menu__top a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu__top a:link {
  color: $DarkRed;
}

.menu__top a:visited {
  color: #800080;
}

.menu__top a:hover {
  color: #1400d4;
}

.menu__top a:active {
  color: #000000;
}
*/

// !!!!!!
// <header(шапка)>===========================================================================================
header {
  // position: fixed;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 25px 03%;
  background-color: $DarkRed;
  box-shadow: #000000 5px 5px 30px 1.5px inset,
    #000000 -5px -5px 30px 1.5px inset;
  // box-shadow: #000000 10px 10px 30px 7px inset, #000000 -10px -10px 30px 7px inset;
  // transition: all 0.3s ease 0s;
  .header__container {
    max-width: 1200px;
    max-width: $mw + px;
    // height: 150px;
    height: 100%;
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    // padding: 25px 03%;
  }
}
// фиксация меню при скроле
.fixed_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

// <tipLOGOtip>===========================================================================================
.header-logo {
  .header-logo-smail {
    position: relative;
    width: 100px;
    height: 100px;
    // min-width: 100%;
    background-color: #ccc;
    border: 4px solid #fad201;
    float: left;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // transition: all 0.1s ease 0s;
    .logo-img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      left: 22%;
      top: 22%;
      width: 50px;
    }
    .logo-down {
      text-align: right;
    }
    .logo-up {
      text-align: left;
    }
    p {
      color: $DarkRed;
    }
  }
}

// <MobileFirst>===========================================================================================
// Mobile First - сво-ва для экранов больше мобилок (меньше писать для мобилок)
@media (min-width: $md3NoErr) {
  // $md3: 767.98;
  .header-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    // для того чтоб TOP не наезжал на BOTTOM
    position: relative;
  }
  .menu__top {
    // для того чтоб TOP не наезжал на BOTTOM
    // после смены расмеров высоты и padding, с header__container на header, вроде как не нужно
    // position: absolute;
    // top: 0;
    .menu-list {
      display: flex;
      justify-content: flex-end;
      // ??? не раб - временное переход items вниз. придумать как сокращать item при переполнение блока
      flex-wrap: wrap;
      // меню 1го ур.
      // &__items {
      // вроде не нужно
      // padding: 0 0 10px 0;
      // }
      // меню 2го ур.
      .items__sub {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        // запрет взаимодействия с мышью. не ловит уходящее подменю
        pointer-events: none;
      }
    }
  }
  .menu__bottom {
    // для того чтоб TOP не наезжал на BOTTOM
    // после смены расмеров высоты и padding, с header__container на header, вроде как не нужно
    // position: absolute;
    // bottom: 0;
    .menu-set {
      display: flex;
      justify-content: flex-end;
    }
  }
}

// <PC и TOUCH сост.>===========================================================================================
body._pc {
  .menu-list__items:hover .items__sub {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
}
body._touch {
  .menu-list__items {
    display: flex;
    align-items: center;
  }
  .items__link {
    // для надежной верстки сделать на всю ширину
    flex: 1 1 auto;
  }
  .items__arrow {
    position: absolute;
    right: 4px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    // стрелка из border
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
    transition: transform 0.3s ease 0s;
  }
  .menu-list__items._active .items__sub {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
  .menu-list__items._active .items__arrow {
    transform: rotate(-180deg);
  }
}
// =================================================================
// .header-menu {
// display: flex;
// flex-direction: column;
// }
// =================================================================
.menu__top {
  .menu-list {
    // затемняет не то что выделено
    &:hover li:not(:hover) {
      opacity: 0.7;
    }
    // меню 1го ур.
    &__items {
      // для позиц. подменю
      position: relative;
      &:hover {
        // подпункт TOP старше BOTTOM
        z-index: 6;
      }
      // для li кроме первого отступ с лево
      &:not(:first-child) {
        margin: 0 0 0px 10px;
      }
      // ссылки 1го ур.
      .items__link {
        position: relative;
        color: $DarkRed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        list-style-type: none;
        border-radius: 10px;
        border: 2px solid #000;
        box-shadow: -1px -1px 3px #000 inset, 1px 1px 3px black;
        &:hover {
          color: #000;
          box-shadow: 0 0 3px #555555 inset, 0px 0px 10px black;
          &::before {
            content: "!";
          }
          &:after {
            content: "!";
          }
        }
        // .link__firct-bykv {
        // }
        // .link__last-bykv {
        // }
      }
      // расцветка 1го ур.
      & {
        &:nth-child(1) .items__link {
          background-color: #fad201;
        }
        &:nth-child(2) .items__link {
          background-color: #ff0000;
        }
        &:nth-child(3) .items__link {
          background-color: #0000ff;
        }
        &:nth-child(4) .items__link {
          background-color: #ffa500;
        }
        &:nth-child(5) .items__link {
          background-color: #42aaff;
        }
        &:nth-child(6) .items__link {
          background-color: #00ba00;
        }
        &:nth-child(7) .items__link {
          background-color: #8b00ff;
        }
        &:nth-child(8) a.items__link {
          background-color: #ffffff;
          color: #000;
        }
        &:nth-child(9) {
          a.items__link {
            background-color: #000000;
            color: #fff;
          }
          .items__arrow {
            border-top: 10px solid #fff;
          }
        }
      }
    }
    // меню 2го ур.
    .items__sub {
      // для позиц. подменю
      position: absolute;
      // при _touch чтоб было ниже li(menu-list__items) 1го ур.
      top: 100%;
      font-style: italic;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
      width: 120px;
      padding: 1px 3px 3px;
      list-style-type: none;
      border: 2px solid #000;
      background: #ccc;
      border-radius: 10px;
      // ссылки 2го ур.
      .sub__li {
        // display: block;
        top: 25px;
        margin-top: 3px;
        background: #a3a3a3;
        border: 1px solid #f00;
        .sub__li-a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: underline;
            color: #000000;
            &::before {
              content: ">";
            }
            &:hover::after {
              content: "<";
            }
          }
        }
        // .li-a__firct-bykv {
        // }
        // .li-a__last-bykv {
        // }
      }
    }
  }
}
// =================================================================
.items__arrow {
  display: none;
}
// =================================================================
.menu__bottom {
  z-index: 5;
  // .menu-set {
  // display: flex;
  // justify-content: flex-end;
  // }
  // .menu-set__items {
  // }
}
// =================================================================

// .m-s-switcher-0 {
// }
// .checkbox {
// }
// .checkbox-label {
// }
// .on {
// }
// .off {
// }
// .m-s-switcher-1 {
// }
// .sw-blwh {
// }
// .swblwh {
// }
// .swblwh-2 {
// }
// .swblwh-3 {
// }
// .m-s-switcher-4 {
// }
// .toggle-button {
// }
// .toggle-button--aava {
// }
// .toggle-button__icon {
// }
// .sw-3btn {
// }
// .sw3btn {
// }
// .sw3btn-label {
// }
// .sw3btn__dark {
// }
// .sw3btn-radio__dark {
// }
// .sw3btn__neutral {
// }
// .sw3btn-radio__neutral {
// }
// .sw3btn__light {
// }
// .sw3btn-radio__light {
// }
// .sw3btn-slider {
// }
// .sw-4btn {
// }
// .sw4btn {
// }
// .sw4btn-rotate {
// }
// .sw4btn-label {
// }
// .sw4-lab__big {
// }
// .sw4-lab__mid {
// }
// .sw4-lab__small {
// }
// .sw4-lab__off {
// }
// .header-menu__icon {
// }
// .header-burger {
// }
