.mini-aside {
  // display: block;
  // position: absolute;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: fixed;
  // left: 0;
  left: calc(100% - 20px);
  // top: 200px;
  top: 50%;
  top: calc(50% - -27px);
  width: 20px;
  // height: 150px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  background: #8b0000;
  // border-radius: 10px;
  // border-top-right-radius: 10px;
  // border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-duration: 0.1s;
  &:hover {
    width: 40px;
    transition-duration: 0.1s;
    left: calc(100% - 40px);
    opacity: 1;
  }
  // попытка сделать пред наведение
  .obol{
    background: #8b0000;
    padding: 5px 0 5px 5px;
  }
  div.m-a__bl {
    &:hover:first-child .ma-bl__js-scroll {
      border-top-left-radius: 10px;
    }
    &:hover:last-child .ma-bl__js-scroll {
      border-bottom-left-radius: 10px;
    }
    &:hover {
      .ma-bl__js-scroll {
        display: block;
        background-color: red;
      }
      .ma-bl__cont {
        display: none;
      }
    }
    .ma-bl__js-scroll {
      display: none;
      &:hover {
        // background-color: red;
      }
    }
    .ma-bl__cont {
      display: block;
      padding: 2px 0;
    }
  }
}
body.scroll-lock {
  overflow: hidden;
}


.fixed_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
