::placeholder {
  color: gray;
}
.wrapper{
  display: flex;
}
h1{
  padding: 1px;
}
// комент
h2{
  padding: 1px;
}
h3{
  padding: 1px;
}
// комент2
.container {
  // комент 
  padding: 5rem 0;
  .main__item {
    display: flex;
  flex-direction: column;
  background-color: blue;
  background-color: yellow;
  height: 100%;
  }
}
img{
  width: 200px;
  height: 200px;
}
.img2{
  // ??? не раб - разобраться с путями из стилей
  background-image: url(../../img/catalog/anonim1.jpg);
}