// <МИКСИНЫ>===============================================================================================
// миксин - комплект свойств, для быстрого вызова(подробнее mixins.scss)
@import "./utils/mixins.scss";
// </МИКСИНЫ>===============================================================================================

// <ШРИФТЫ>===============================================================================================
// <Подключаем шрифты>=======================================================================================
// подкл шрифты гугл, гуглфондс, напрямую
// @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
// @font-face {
//   font-family: "AkzidenzGroteskBQ-BdCnd";
//   src: url("../../fonts/AkzidenzGroteskBQ-BdCnd.eot");
//   src: local("☺"), url("../../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"),
//     url("../../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"),
//     url("../../fonts/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Bebas";
//   src: url("../../fonts/BebasRegular.eot");
//   src: local("☺"), url("../../fonts/BebasRegular.woff") format("woff"),
//     url("../../fonts/BebasRegular.ttf") format("truetype"),
//     url("../../fonts/BebasRegular.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
// // font-display: swap;
// // </Подключаем шрифты>
// </Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//</Иконочные шрифты>==========================================================================================

// <ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================
// переменая шрифта по умолчанию (можно несколько сразу завести)
$fontfamily: "";
$fontfamily1: "PT Sans";
$fontfamily2: "Bebas";
$fontfamily3: "AkzidenzGroteskBQ-BdCnd";
$fontfamilyCurs: "cursive";
// </ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================
// </ШРИФТЫ>=======================================================================================================

// <ЦВЕТА>===========================================================================================================
$DarkRed: #8b0000; // темно-красный
$CrimsonBrown: #4b0000; // коричнево-малиновый
$WhiteAlum: #a3a3a3; // бело-алюминиевый
$DullGray: #707070; // тусклый серый
$WetAsphalt: #555555; // мокрый асфальта
$SignalBlack: #333333; // cигнальный черный
// </ЦВЕТА>===========================================================================================================

// <ПЕРЕМЕННЫЕ>===========================================================================================================
// сетка адаптива----------------------------------------------------------------------------------------
// минимальная ширина. статична
$minwidth: 320px;
// начальное значение контейниера из PSD. чаще всего использ дизайнерами
$mw: 1308;
// 0! проба
$md0: $mw + 12;
// 1-ый брейкпоинт + 12px (по 6 с каждой стороны). измен по усмотрению
$md1: 1200;
// планшетное расширение
$md2: 992.98;
// телефоны
$md3: 767.98;
// маленькие телефоны
$md4: 479.98;
// </ПЕРЕМЕННЫЕ>===========================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
@import "./VDOH/null.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
// настройка блока .wrapper от горизонтального скрола изза ошибок верстки (чтоб не вылазилило за пределы экрана)
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  // &.loaded {
  // }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// основная сетка. подстройка под расширение экрана с учётом переменных из сетки адаптива
// mw - изначальная ширина контейниера
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  // уже есть три настроеных брейкпоинта
  // при ширине экрана md0(1308 + 12), макс ширина контейнера станет 1200px. в 1332 ширина становится 1200
  @media (max-width: $md0+px) {
    max-width: 1200px;
  }
  // $md1: 1200;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  // $md2: 992.98;
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  // $md3: 767.98;
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
  // $md4: 479.98;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
// @import "datepicker.scss";
// @import "fontawesome.scss";
// @import "popover.min.scss";
// @import "baguetteBox.scss";
// @import "pagging.scss";
// @import "icons.scss";
// @import "popup.scss";
@import "./htmlProjsBlocks/header.scss";
// @import "catalog.scss";
// @import "Game.scss";
// @import "snake.scss";
// @import "Minesweeper.scss";
// @import "contacts.scss";
@import "./htmlProjsBlocks/footer.scss";
// @import "audio.scss";
// @import "video.scss";
// @import "gallery.scss";
// @import "manual.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

// @import "./VDOH/ui.scss";

//<>====================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ, VISYAL, GRID, jQuery И ГОТОВЫХ КЛАССОВ>====================================================================================================
// элем форм, checkbox, select, кнопки
// @import "forms.scss";
// сбор готовых и вспомогательных классов (ibg, video, заголовки, зеркало, серый стиль)
@import "./VDOH/ui.scss";
// изменения стилей при нажате на кнопки под меню
@import "./VDOH/parseTheme.scss";
// визуальные эффекты css во вкладке "Визул"
// @import "visyal.scss";
// не большие анимации, трансформации, эффекты css на всех страницах
@import "./VDOH/effect.scss";
// Grid сетки
@import "./VDOH/grid.scss";
// jQuery - код разбор библ.
// @import "styleDoC.scss";
// jQuery - код проекта
// @import "styleDoP.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ, VISYAL, GRID, jQuery И ГОТОВЫХ КЛАССОВ>====================================================================================================