/-------------------------------------------------/(My)
# Скомпилированный исходный код #
.idea
node_modules
dist
test 2.0
порядок.txt

/-------------------------------------------------/(Git)
# Скомпилированный исходный код #
# ##################
* .com
* .class
* .dll
* .exe
* .o
* .so

# Пакеты #
# ###########
# лучше распаковать эти файлы и зафиксировать исходный код
# git имеет собственные встроенные методы сжатия
* .7z
* .dmg
* .gz
* .iso
* .jar
* .rar
* .tar
* .zip

# Журналы и базы данных #
# ####################
* .log
* .sql
* .sqlite

# Файлы, сгенерированные ОС #
# ####################
.DS_Store
.DS_Store ?
._ *
.Spotlight-V100
. Мусор
ehthumbs.db
Thumbs.db

/-------------------------------------------------/(Git.comment)
# файлы резервных копий, созданные текстовыми редакторами
*~
*.pyo
*.pyc

# Файлы IDE #
# ############
nbproject
. ~ замок. *
.buildpath
.idea
.проект
.настройки
composer.lock

# Чтобы игнорировать файлы резервных копий, созданные текстовым редактором, в любом месте подкаталога
**/*~

# Чтобы игнорировать файлы, связанные с IDE (eclipse / intellij)
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr

# @arulrajnet @cptstarling не рекомендуется игнорировать весь каталог .idea. 
# Вместо этого мы должны добавить только две строки ниже в локальный файл .gitignore:
/.idea/workspace.xml
/.idea/tasks.xml