<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    templatesDir:./test ES4/html/views

    templateFolders:Audio,Catalog,Contact,Gallery,Game,Manual,Video,Visual
    
    folderName:Audio 
    
    templateFoldersPath:D:\Про\Курсы-ДЗ\Geekbrains\Frond end разраб\Я.ДЗ.Проекты\Своё.Нэт\ЕжеСвет\test ES4\html\views\Audio
    
    firstTemplateFileName:Audio.html
    
    firstTemplateFilePath:D:\Про\Курсы-ДЗ\Geekbrains\Frond end разраб\Я.ДЗ.Проекты\Своё.Нэт\ЕжеСвет\test ES4\html\views\Audio\Audio.html
  </body>
</html>
