<% var data = { 
  htmlWebpackPlugin: htmlWebpackPlugin, 
  title: "Видео",
  author: "EvGen",
}; %>
<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= _.template(require('../../includes/head.html').default)(data) %>
  </head>
  <body>
    <div class="wrapper">
      <%= _.template(require('../../includes/header.html').default)(data) %>
      <hr />
      <div class="content-body">
        <div class="kup">
          <form action="#">
            <!--??? зачем тут был label -->
            <label>
              <h1>
                <input type="submit" value="Купить!" id="kup" autofocus />
              </h1>
            </label>
          </form>
        </div>
        <hr />
        <div class="helloys">
          <h1>Разработка Видео.</h1>
          <h2>
            В планах: Виеио, анимации, эффекты, плейлисты, возможно какието обуч курсы и уроки и пр.
          </h2>
          <p>
            Ещё пару букв про Видео, отсутстие времени, отсутстие времени,
            разработку и лень
            <br />Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            at nisi qui cumque doloribus, perspiciatis repellendus repellat?
            Veniam, nemo? Consectetur, repellendus esse saepe natus aspernatur
            nihil maiores, vel officiis iste dignissimos perspiciatis porro
            temporibus numquam?
          </p>
        </div>
        <hr />
        <div class="video-block pc1">
          <h3>Инфа для твоей жизни...</h3>
          <p>В&nbsp;разработке. ... .. .. . ... . ..</p>
        </div>
      </div>
      <hr />
      <%= _.template(require('../../includes/footer.html').default)(data) %>
    </div>
  </body>
</html>
