<% var data = { htmlWebpackPlugin: htmlWebpackPlugin, title: "Главная", author:
"EvGen", }; %>
<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= _.template(require('./html/includes/head.html').default)(data) %>
  </head>
  <body>
    <div class="wrapper">
      <%= _.template(require('./html/includes/header.html').default)(data) %>
      <hr />
      <div class="helloys">
        <h1>Торговец Вдохновений</h1>
        <h2>Приветствую тебя, о&nbsp;странник, в&nbsp;поисках своей мечты!</h2>
        <p class="hel-text">
          Ещё пару букв приветсвия и пожеланий <br />Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Magni at nisi qui cumque doloribus,
          perspiciatis repellendus repellat? Veniam, nemo? Consectetur,
          repellendus esse saepe natus aspernatur nihil maiores, vel officiis
          iste dignissimos perspiciatis porro temporibus numquam? lorem150
        </p>
      </div>
      <hr />
      <!-- <main class="central-block container"> -->
      <main class="central-block">
        <div class="centr-text mc0">
          <h3>Инфа для твоей жизни...</h3>
          <p>
            В&nbsp;разработке. <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia iste
            dignissimos iure ad ratione dolor! Ipsum fuga ullam asperiores
            inventore veniam vero amet nisi suscipit quaerat, error magnam harum
            optio voluptatibus tempora quibusdam quidem. Dolorem magnam
            molestiae harum sequi reiciendis consequuntur obcaecati voluptatum
            sunt doloremque explicabo minus, sed quasi culpa quisquam
            exercitationem, architecto temporibus, dolorum vero error aliquam!
            Culpa, labore. Iure vitae optio ducimus distinctio totam dolor
            voluptatum sed quasi amet possimus quam, neque ipsum obcaecati illo
            aperiam tempore molestias delectus nulla enim? Exercitationem
            tempora corrupti cumque deserunt rerum excepturi repellat facere
            explicabo officia voluptate fugit corporis ratione nihil quia
            temporibus reprehenderit, molestias hic laborum assumenda tenetur
            sint minima culpa inventore! Nemo temporibus aut veniam! Dolore quas
            similique pariatur, facilis repudiandae minima iure reprehenderit
            deleniti nobis dolores odit eveniet quia veritatis fuga! Impedit
            ipsam molestiae sapiente deleniti consectetur perferendis autem!
            Veniam, molestiae consequatur voluptatum consequuntur totam quo
            ducimus vitae obcaecati?
          </p>
        </div>
        <hr>
        <div class="centr-cont- pc1">
          <!-- .cont-block-*4>.block-img->a.block-img__link-.ibg-[href=#]>img.img-bl-[src=./img/head.jpg]^^.block-text-{lorem50} -->
          <div class="cont-block-">
            <div class="block-img-">
              <!-- <a href="#" class="block-img__link- ibg-">
                <img src="./img/head.jpg" alt="" class="img-bl-" />
              </a> -->
              <div class="bl-sub- right">
                <input class="sub-" type="submit" value="" id="sub-detail-1" />
              </div>
            </div>
            <div class="block-text-">
              <div class="text-short-">
                <h3>Lorem ipsum dolor sit amet!</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium corporis eius in.
                </p>
              </div>
              <div class="text-detail-">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto nulla et excepturi, recusandae eligendi laudantium
                  ratione in. Nulla perferendis qui perspiciatis excepturi autem
                  nam vero provident ipsa, quo, vel voluptatem quos delectus
                  nobis iure impedit laboriosam praesentium facilis suscipit?
                  Adipisci vel eveniet accusantium nam, exercitationem labore
                  voluptatibus suscipit excepturi laboriosam reprehenderit
                  maiores! Ratione consequatur ipsum perferendis quaerat nam
                  blanditiis dolorum officiis totam facere sunt odit eaque, quam
                  quos doloribus nulla repellat vero dolor nostrum reiciendis
                  ullam. Delectus nostrum maxime ducimus. Voluptas adipisci
                  maiores architecto inventore optio repellat nobis similique ut
                  facilis nemo culpa tempora impedit veniam voluptatibus nihil,
                  id ex ratione magni dolore sapiente odio odit. Dolores
                  doloribus accusamus perferendis odio officiis minima eveniet
                  eius, rem exercitationem voluptate cum optio quam quod,
                  pariatur beatae ad iusto eum ipsam et ratione? Ab optio
                  nesciunt quasi, cupiditate, aspernatur laborum voluptatum
                  praesentium obcaecati temporibus, odit molestias nobis et
                  repellat minus nam omnis quos?
                </p>
              </div>
            </div>
          </div>
          <div class="cont-block-">
            <div class="block-img-">
              <!-- <a href="#" class="block-img__link- ibg-">
                <img src="./img/head.jpg" alt="" class="img-bl-" />
              </a> -->
              <div class="bl-sub-">
                <input class="sub-" type="submit" value="" id="sub-detail-2" />
              </div>
            </div>
            <div class="block-text-">
              <div class="text-short-">
                <h3>Lorem ipsum dolor sit amet!</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium corporis eius in.
                </p>
              </div>
              <div class="text-detail-">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto nulla et excepturi, recusandae eligendi laudantium
                  ratione in. Nulla perferendis qui perspiciatis excepturi autem
                  nam vero provident ipsa, quo, vel voluptatem quos delectus
                  nobis iure impedit laboriosam praesentium facilis suscipit?
                  Adipisci vel eveniet accusantium nam, exercitationem labore
                  voluptatibus suscipit excepturi laboriosam reprehenderit
                  maiores! Ratione consequatur ipsum perferendis quaerat nam
                  blanditiis dolorum officiis totam facere sunt odit eaque, quam
                  quos doloribus nulla repellat vero dolor nostrum reiciendis
                  ullam. Delectus nostrum maxime ducimus. Voluptas adipisci
                  maiores architecto inventore optio repellat nobis similique ut
                  facilis nemo culpa tempora impedit veniam voluptatibus nihil,
                  id ex ratione magni dolore sapiente odio odit. Dolores
                  doloribus accusamus perferendis odio officiis minima eveniet
                  eius, rem exercitationem voluptate cum optio quam quod,
                  pariatur beatae ad iusto eum ipsam et ratione? Ab optio
                  nesciunt quasi, cupiditate, aspernatur laborum voluptatum
                  praesentium obcaecati temporibus, odit molestias nobis et
                  repellat minus nam omnis quos?
                </p>
              </div>
            </div>
          </div>
          <div class="cont-block-">
            <div class="block-img-">
              <!-- <a href="#" class="block-img__link- ibg-">
                <img src="./img/head.jpg" alt="" class="img-bl-" />
              </a> -->
              <div class="bl-sub- right">
                <input class="sub-" type="submit" value="" id="sub-detail-3" />
              </div>
            </div>
            <div class="block-text-">
              <div class="text-short-">
                <h3>Lorem ipsum dolor sit amet!</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium corporis eius in.
                </p>
              </div>
              <div class="text-detail-">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto nulla et excepturi, recusandae eligendi laudantium
                  ratione in. Nulla perferendis qui perspiciatis excepturi autem
                  nam vero provident ipsa, quo, vel voluptatem quos delectus
                  nobis iure impedit laboriosam praesentium facilis suscipit?
                  Adipisci vel eveniet accusantium nam, exercitationem labore
                  voluptatibus suscipit excepturi laboriosam reprehenderit
                  maiores! Ratione consequatur ipsum perferendis quaerat nam
                  blanditiis dolorum officiis totam facere sunt odit eaque, quam
                  quos doloribus nulla repellat vero dolor nostrum reiciendis
                  ullam. Delectus nostrum maxime ducimus. Voluptas adipisci
                  maiores architecto inventore optio repellat nobis similique ut
                  facilis nemo culpa tempora impedit veniam voluptatibus nihil,
                  id ex ratione magni dolore sapiente odio odit. Dolores
                  doloribus accusamus perferendis odio officiis minima eveniet
                  eius, rem exercitationem voluptate cum optio quam quod,
                  pariatur beatae ad iusto eum ipsam et ratione? Ab optio
                  nesciunt quasi, cupiditate, aspernatur laborum voluptatum
                  praesentium obcaecati temporibus, odit molestias nobis et
                  repellat minus nam omnis quos?
                </p>
              </div>
            </div>
          </div>
          <div class="cont-block-">
            <div class="block-img-">
              <!-- <a href="#" class="block-img__link- ibg-">
                <img src="./img/head.jpg" alt="" class="img-bl-" />
              </a> -->
              <div class="bl-sub-">
                <input class="sub-" type="submit" value="" id="sub-detail-4" />
              </div>
            </div>
            <div class="block-text-">
              <div class="text-short-">
                <h3>Lorem ipsum dolor sit amet!</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Praesentium corporis eius in.
                </p>
              </div>
              <div class="text-detail-">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto nulla et excepturi, recusandae eligendi laudantium
                  ratione in. Nulla perferendis qui perspiciatis excepturi autem
                  nam vero provident ipsa, quo, vel voluptatem quos delectus
                  nobis iure impedit laboriosam praesentium facilis suscipit?
                  Adipisci vel eveniet accusantium nam, exercitationem labore
                  voluptatibus suscipit excepturi laboriosam reprehenderit
                  maiores! Ratione consequatur ipsum perferendis quaerat nam
                  blanditiis dolorum officiis totam facere sunt odit eaque, quam
                  quos doloribus nulla repellat vero dolor nostrum reiciendis
                  ullam. Delectus nostrum maxime ducimus. Voluptas adipisci
                  maiores architecto inventore optio repellat nobis similique ut
                  facilis nemo culpa tempora impedit veniam voluptatibus nihil,
                  id ex ratione magni dolore sapiente odio odit. Dolores
                  doloribus accusamus perferendis odio officiis minima eveniet
                  eius, rem exercitationem voluptate cum optio quam quod,
                  pariatur beatae ad iusto eum ipsam et ratione? Ab optio
                  nesciunt quasi, cupiditate, aspernatur laborum voluptatum
                  praesentium obcaecati temporibus, odit molestias nobis et
                  repellat minus nam omnis quos?
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="probB">
          <!-- //! блоки на/для jQ  -->
          <div class="dlJQ">
            <div class="btn btn1" data-num="1">1</div>
            <div class="btn btn2" data-num="2">2</div>
            <div class="block" id="block1">3</div>
            <div class="block" id="block2">4</div>
          </div>
          <!-- //! блоки на/для jQ  -->
          <!-- //! блоки проб 1  -->
          <div class="probb1">
            <div class="blocks">
              <div class="user">
                <div class="trigger">Открыть настройки</div>
                <div class="settings">
                  Настройки Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Voluptatem unde velit a beatae modi. At tempora modi
                  iusto rem? Nostrum, eos repellendus a, nobis similique optio
                  consequuntur fugiat vitae quisquam rem fugit quis autem quos!
                </div>
              </div>
              <div class="user">
                <div class="trigger">Открыть настройки</div>
                <div class="settings">
                  Настройки Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Voluptatem unde velit a beatae modi. At tempora modi
                  iusto rem? Nostrum, eos repellendus a, nobis similique optio
                  consequuntur fugiat vitae quisquam rem fugit quis autem quos!
                </div>
              </div>
              <div class="user">
                <div class="trigger">Открыть настройки</div>
                <div class="settings">
                  Настройки Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Voluptatem unde velit a beatae modi. At tempora modi
                  iusto rem? Nostrum, eos repellendus a, nobis similique optio
                  consequuntur fugiat vitae quisquam rem fugit quis autem quos!
                </div>
              </div>
            </div>
          </div>
          <!-- //! блоки проб 1  -->
          <!-- //! блоки проб 2  -->
          <div class="probb2">
            <div id="Div1">
              <input
                type="button"
                id="togglee0"
                class="Div3"
                value="togle1"
                onclick="switchVisible2(this);"
              />
              <input
                type="button"
                id="togglee1"
                class="Div4"
                value="toggle2"
                onclick="switchVisible2(this);"
              />
              <input
                type="button"
                id="togglee2"
                class="Div5"
                value="toggle3"
                onclick="switchVisible2(this);"
              />
              <input
                type="button"
                id="togglee3"
                class="Div6"
                value="toggle4"
                onclick="switchVisible2(this);"
              />
            </div>
            <div id="Div3" style="display: none">
              <input type="button" id="togglee01" value="Div3" />
              <input type="button" id="togglee02" value="Div3" />
              <input type="button" id="togglee03" value="Div3" />
              <input type="button" id="togglee04" value="Div3" />
            </div>
            <div id="Div4" style="display: none">
              <input type="button" id="togglee01" value="Div4" />
              <input type="button" id="togglee02" value="Div4" />
              <input type="button" id="togglee03" value="Div4" />
              <input type="button" id="togglee04" value="Div4" />
            </div>
            <div id="Div5" style="display: none">
              <input type="button" id="togglee01" value="Div5" />
              <input type="button" id="togglee02" value="Div5" />
              <input type="button" id="togglee03" value="Div5" />
              <input type="button" id="togglee04" value="Div5" />
            </div>
            <div id="Div6" style="display: none">
              <input type="button" id="togglee01" value="Div6" />
              <input type="button" id="togglee02" value="Div6" />
              <input type="button" id="togglee03" value="Div6" />
              <input type="button" id="togglee04" value="Div6" />
            </div>
          </div>
          <!-- //! блоки проб 2  -->
          <!-- //! блоки проб 3  -->
          <div class="probb3">
            <ul class="box-menu">
              <li class="menu">Text 1</li>
              <li class="menu">Text 2</li>
              <li class="menu">Text 3</li>
              <li class="menu">Text 4</li>
            </ul>
            <div class="content" style="display: none">Содержимое 1</div>
            <div class="content" style="display: none">Содержимое 2</div>
            <div class="content" style="display: none">Содержимое 3</div>
            <div class="content" style="display: none">Содержимое 4</div>
          </div>
          <!-- //! блоки проб 3  -->
          <!-- //! блоки проб 4  -->
          <div class="probb4">
            <div class="tohide" style="background-color: orange">div 1 aaa</div>
            <div class="tohide" style="background-color: olive">div 2 bbb</div>
            <div id="id1" class="tohide class2" style="background-color: blue">
              div 3 ccc
            </div>
            <br />
            <!-- <a href="#" onclick="HideAll()">hide all</a> -->
            <button type="submit" onclick="HideAll()">hide all</button>
          </div>
          <!-- //! блоки проб 4  -->
        </div>
        <hr />
        <!-- <div class="centr-cont cont-grid pc1"> -->
        <div class="centr-cont pc1">
          <div class="block-img">
            <a class="block-img__link-- ibg--" target="_blank">
              <img class="img-bl" src="./img/head.jpg" alt="сорян" />
            </a>
          </div>
          <div class="block-side">
            <!-- <div class="block-side-wrapper"> -->
            <h3 class="b-s__title">Описание товара</h3>
            <p class="b-s__text">
              Мечта из&nbsp;неуемного детства, о&nbsp;далеких просторах
              вселенной, разрушенная о&nbsp;незыблемые нормы современных реалий.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, vitae architecto, doloribus omnis exercitationem ad
              dicta, accusantium laborum eligendi veritatis temporibus
              voluptatum. Eligendi, magnam vero? Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Illum rem, cumque, molestiae rerum
              dolore beatae ad suscipit laudantium atque dolorum distinctio
              corrupti laborum officia aperiam consectetur voluptatem iste,
              labore voluptate similique corporis quisquam blanditiis iusto!
              Velit temporibus, nostrum praesentium corrupti, aperiam aliquid
              reiciendis, voluptatem consequuntur culpa cumque quos perspiciatis
              dignissimos.
            </p>
            <!-- </div> -->
          </div>
          <div class="block-body">
            <h3 class="b-b__title">Подробное описание товара</h3>
            <p class="b-b__text">
              Детская, неосуществленная мечта, в&nbsp;виду ряда обстоятельств,
              которые возможно, но&nbsp;очень сложно преодолеть. Это очень
              интересная, рискованная и опасная работа. Ведь космонавт – это
              человек, который ничего не боится, он смелый и отважный! Быть
              космонавтом - это значит, каждую секунду своего полета быть на
              границе великой тайны. Эта профессия даёт огромные перспективы,
              бесспорную известность, наполняет гордостью и&nbsp;честью.
            </p>
          </div>
          <div class="block-img2">
            <a
              class="block-img__link ibg-"
              href="./img/head.jpg"
              target="_blank"
            >
              <img class="img-bl" src="./img/head.jpg" alt="сорян" />
            </a>
          </div>
          <div class="block-img3">
            <a class="block-img__link ibg--" target="_blank">
              <img class="img-bl" src="./img/head.jpg" alt="сорян" />
            </a>
          </div>
          <div class="block-sides">
            <!-- <div class="block-side-wrapper"> -->
            <h3 class="b-s__title">Описание товара</h3>
            <p class="b-s__text">
              Мечта из&nbsp;неуемного детства, о&nbsp;далеких просторах
              вселенной, разрушенная о&nbsp;незыблемые нормы современных реалий.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, vitae architecto, doloribus omnis exercitationem ad
              dicta, accusantium laborum eligendi veritatis temporibus
              voluptatum. Eligendi, magnam vero? lorem50
            </p>
            <!-- </div> -->
          </div>
          <div class="block-bodys">
            <h3 class="b-b__title">Подробное описание товара</h3>
            <p class="b-b__text">
              Детская, неосуществленная мечта, в&nbsp;виду ряда обстоятельств,
              которые возможно, но&nbsp;очень сложно преодолеть. Это очень
              интересная, рискованная и опасная работа. Ведь космонавт – это
              человек, который ничего не боится, он смелый и отважный! Быть
              космонавтом - это значит, каждую секунду своего полета быть на
              границе великой тайны. Эта профессия даёт огромные перспективы,
              бесспорную известность, наполняет гордостью и&nbsp;честью.
            </p>
          </div>
          <div class="block-img4">
            <a
              class="block-img__link ibg--"
              href="./img/head.jpg"
              target="_blank"
            >
              <img class="img-bl" src="./img/head.jpg" alt="сорян" />
            </a>
          </div>
        </div>
      </main>
      <div class="centr-cont cont-grid pc1">
        <div class="block-img">
          <a class="block-img__link-- ibg--" target="_blank">
            <img class="img-bl--" src="./img/head.jpg" alt="сорян" />
          </a>
        </div>
        <div class="block-side">
          <!-- <div class="block-side-wrapper"> -->
          <h3 class="b-s__title">Описание товара</h3>
          <p class="b-s__text">
            Мечта из&nbsp;неуемного детства, о&nbsp;далеких просторах вселенной,
            разрушенная о&nbsp;незыблемые нормы современных реалий. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Voluptatibus, vitae
            architecto, doloribus omnis exercitationem ad dicta, accusantium
            laborum eligendi veritatis temporibus voluptatum. Eligendi, magnam
            vero? lorem50
          </p>
          <!-- </div> -->
        </div>
        <div class="block-body">
          <h3 class="b-b__title">Подробное описание товара</h3>
          <p class="b-b__text">
            Детская, неосуществленная мечта, в&nbsp;виду ряда обстоятельств,
            которые возможно, но&nbsp;очень сложно преодолеть. Это очень
            интересная, рискованная и опасная работа. Ведь космонавт – это
            человек, который ничего не боится, он смелый и отважный! Быть
            космонавтом - это значит, каждую секунду своего полета быть на
            границе великой тайны. Эта профессия даёт огромные перспективы,
            бесспорную известность, наполняет гордостью и&nbsp;честью.
          </p>
        </div>
        <div class="block-img2">
          <a class="block-img__link ibg" href="./img/head.jpg" target="_blank">
            <img class="img-bl" src="./img/head.jpg" alt="сорян" />
          </a>
        </div>
        <div class="block-img3">
          <a class="block-img__link-- ibg--" target="_blank">
            <img class="img-bl--" src="./img/head.jpg" alt="сорян" />
          </a>
        </div>
        <div class="block-sides">
          <!-- <div class="block-side-wrapper"> -->
          <h3 class="b-s__title">Описание товара</h3>
          <p class="b-s__text">
            Мечта из&nbsp;неуемного детства, о&nbsp;далеких просторах вселенной,
            разрушенная о&nbsp;незыблемые нормы современных реалий. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Voluptatibus, vitae
            architecto, doloribus omnis exercitationem ad dicta, accusantium
            laborum eligendi veritatis temporibus voluptatum. Eligendi, magnam
            vero? lorem50
          </p>
          <!-- </div> -->
        </div>
        <div class="block-bodys">
          <h3 class="b-b__title">Подробное описание товара</h3>
          <p class="b-b__text">
            Детская, неосуществленная мечта, в&nbsp;виду ряда обстоятельств,
            которые возможно, но&nbsp;очень сложно преодолеть. Это очень
            интересная, рискованная и опасная работа. Ведь космонавт – это
            человек, который ничего не боится, он смелый и отважный! Быть
            космонавтом - это значит, каждую секунду своего полета быть на
            границе великой тайны. Эта профессия даёт огромные перспективы,
            бесспорную известность, наполняет гордостью и&nbsp;честью.
          </p>
        </div>
        <div class="block-img4">
          <a class="block-img__link ibg" href="./img/head.jpg" target="_blank">
            <img class="img-bl" src="./img/head.jpg" alt="сорян" />
          </a>
        </div>
      </div>
      <hr />
      <%= _.template(require('./html/includes/footer.html').default)(data) %>
      <%=
      _.template(require('./html/includes/JS_fri_TEeKr2ON66A.html').default)(data)
      %>
    </div>
  </body>
</html>
