// 1 Использование класса для <body>
// !!! https://webref.ru/dev/dark-mode/toggling-themes
// body {
//   color: #222;
//   background: #fff;
// }
// a {
//   color: #0033cc;
// }
// /* Стили Тёмной темы */
// body.dark-theme {
//   color: #eee;
//   background: #121212;
// }
// body.dark-theme a {
//   color: #809fff;
// }
// 2 Использование пользовательских свойств
// body {
//   --text-color: #222;
//   --bkg-color: #fff;
//   --anchor-color: #0033cc;
// }
// body.dark-theme {
//   --text-color: #eee;
//   --bkg-color: #121212;
//   --anchor-color: #809fff;
// }
// body {
//   color: var(--text-color);
//   background: var(--bkg-color);
// }
// a {
//   color: var(--anchor-color);
// }

// ? 4 Переопределение настроек ОС
/* Цвета по умолчанию */
// body.grayn-theme {
//   // --text-color: #f00;
//   // --bkg-color: #cccccc;
//   --anchor-color: #0d0238;
// }
// /* Цвета тёмной темы */
// body.dark-theme {
//   --text-color: #c0c0c0;
//   --bkg-color: #121212;
//   --anchor-color: #809fff;
// }
// body.light-theme {
//   --text-color: #222;
//   --bkg-color: #fff;
//   --anchor-color: #0033cc;
// }
// /* Стили для пользователей, предпочитающих тёмный режим на уровне ОС */
// @media (prefers-color-scheme: grayn) {
//   /* Стили для темы по умолчанию */
//   body {
//     // --text-color: #f00;
//     // --bkg-color: #cccccc;
//     // --anchor-color: #01299e;
//   }
// }
// @media (prefers-color-scheme: dark) {
//   /* Стили для тёмной темы */
//   body {
//     --text-color: #c0c0c0;
//     --bkg-color: #121212;
//     --anchor-color: #809fff;
//   }
// }
// @media (prefers-color-scheme: light) {
//   /* Стили для светлой темы */
//   body {
//     --text-color: #222;
//     --bkg-color: #fff;
//     --anchor-color: #0033cc;
//   }
// }
// * {
//   // font-family: Arial, Helvetica, sans-serif;
// }
// body {
//   color: var(--text-color);
//   background: var(--bkg-color);
// }
// h1,
// p {
//   color: var(--text-color);
// }
// a {
//   color: var(--anchor-color);
// }

// ? 5
// !!! https://habr.com/ru/company/macloud/blog/550168/
// Обратите внимание на пробелы, они не ломают синтаксис (что сбросило бы определение всей строки). Теперь осталось только вынести переключатель состояния в отдельные переменные:
// :root {
body {
  // body.grayn-theme {
  // :root.grayn-theme {
  /* --ON и --OFF заменяют двоичную переменную */
  --ON: initial;
  // --ON: ;
  --OFF: ;
  // --NORM: initial;
}
/* выбираем светлую тему по умолчанию */
// .theme-default,
// .theme-light {
// .default-theme,
.grayn-theme {
  --grayn: var(--ON);
  --light: var(--OFF);
  --dark: var(--OFF);
}
.light-theme {
  --light: var(--ON);
  --grayn: var(--OFF);
  --dark: var(--OFF);
}
.dark-theme {
  --dark: var(--ON);
  --light: var(--OFF);
  --grayn: var(--OFF);
}
/* медиа-запрос теперь нужен только для переключения */
@media (prefers-color-scheme: dark) {
  .theme-default {
    --dark: var(--ON);
    --light: var(--OFF);
    --grayn: var(--OFF);
  }
}
// Теперь цветовые схемы можно определять в одном месте, выглядеть это будет так:
// :root {
body {
  // --baz-bkg-color: var(--dark, #1d0a0a) var(--grayn, #500000)    var(--light, #858585);
  --baz-bkg-color: var(--dark, #140f0b) var(--grayn, #333) var(--light, #858585);
  // --hed-bkg-color: var(--dark, #500000) var(--grayn, #8b0000) var(--light, #4b4b4b);
  --hed-bkg-color: var(--dark, #35170c) var(--grayn, #8b0000)
    var(--light, #4b4b4b);
  --hed-bkg-color: var(--dark, #4b0000) var(--grayn, #8b0000)
    var(--light, #4b4b4b);
  --bkd-col: var(--dark, #080707) var(--grayn, #500000) var(--light, #cccccc); //--grayn, #500000
  // --text-color: var(--dark, #4b4b4b) var(--grayn, #cccccc) var(--light, #000000);
  // --text-color: var(--dark, #555555) var(--grayn, #4b0000) var(--light, #000000);
  --text-color: var(--dark, #555555) var(--grayn, #1b0000) var(--light, #000000);
  // --h-color: var(--dark, #555555) var(--grayn, #8b0000) var(--light, #000000);
  // --h-color: var(--dark, #4b0000) var(--grayn, #8b0000) var(--light, #000000);
  // --h-bkg-color: var(--dark, #C34D0A) var(--grayn, #ff0) var(--light, #ccc);
  --hel-p-bkg-color: var(--dark, #4d220e) var(--grayn, #555) var(--light, #ccc); //--dark, #58290e
  --hel-p-color: var(--dark, #4b0000) var(--grayn, #8b0000)
    var(--light, #000000);
  --hel-p-color: var(--dark, #1b0000) var(--grayn, #8b0000)
    var(--light, #000000);
  --hel-p-color: var(--dark, #555555) var(--grayn, #8b0000)
    var(--light, #000000);
  // --h-bkg-color: var(--dark, #3f2512) var(--grayn, #555) var(--light, #ccc); //--dark, #58290e
  --hel-h-color: var(--dark, #6b0000) var(--grayn, #8b0000)
    var(--light, #000000);
  --hel-h-bkg-color: var(--dark, #35170c) var(--grayn, #fad201)
    var(--light, #ccc); //--dark, #58290e
  --link-color: var(--dark, #b76c10) var(--grayn, #cde404) var(--light, #0089c7);
  --primary-color: var(--dark, #8916b9) var(--grayn, #c07d00)
    var(--light, #165fb9);
}
// #C3B6A2 #313B44 #232B32
// background: #C34D0A;
// background: #FF4F00;
// background: #8b0000;
// background: #232B32;
// color: #8b0000;
// color: #500000;
// color: #58290e
// color: #35170c
// color: #200c0c;
body {
  background: var(--baz-bkg-color);
}
header {
  background: var(--hed-bkg-color);
}
hr {
  color: var(--bkd-col);
}
.helloys {
  h1,
  h2,
  h3 {
    text-align: center;
    background-color: var(--hel-h-bkg-color);
    // color: var(--hel-h-color);
  }
  p {
    // background: #58290e;
    background-color: var(--hel-p-bkg-color);
    color: var(--hel-p-color);
  }
}
.block-body,
.centr-text {
  h3 {
    // text-align: center;
    // background-color: var(--h-bkg-color);
    // color: var(--h-bkg-color);
    // color: var(--background);
    background-color: var(--h-bkg-color);
    color: var(--text-color);
  }
  // p {
  // background: var(--baz-bkg-color);
  // background-color: var(--h-bkg-color);
  color: var(--text-color);
  // color: #500000;
  // }
}

// !!!!! настройки стиля-размера
body {
  --ON: initial;
  --OFF: ;
}
.style-mid {
  --mid: var(--ON);
  --small: var(--OFF);
  --big: var(--OFF);
  --off: var(--OFF);
}
.style-small {
  --small: var(--ON);
  --mid: var(--OFF);
  --big: var(--OFF);
  --off: var(--OFF);
}
.style-big {
  --big: var(--ON);
  --small: var(--OFF);
  --mid: var(--OFF);
  --off: var(--OFF);
}
.style-off {
  --off: var(--ON);
  --small: var(--OFF);
  --mid: var(--OFF);
  --big: var(--OFF);
}
@media (prefers-color-scheme: big) {
  .style-default {
    --big: var(--ON);
    --small: var(--OFF);
    --mid: var(--OFF);
    --off: var(--OFF);
  }
}
body {
  --width: var(--big, 120px) var(--mid, 100px) var(--small, 80px)
    var(--off, 80px);
  --height: var(--big, 35px) var(--mid, 30px) var(--small, 25px)
    var(--off, 25px);
  --font-size-big: var(--big, 22px) var(--mid, 18px) var(--small, 15px)
    var(--off, 15px);
  --font-size-mid: var(--big, 22px) var(--mid, 18px) var(--small, 15px)
    var(--off, 15px);
  --font-size-small: var(--big, 22px) var(--mid, 17px) var(--small, 15px)
    var(--off, 15px);
  --font-weight: var(--big, 700) var(--mid, 400) var(--small, 200)
    var(--off, 200);
  --border: var(--big, 1px solid #000) var(--mid, 1px solid #000)
    var(--small, 0.5px solid #000) var(--off, 0px solid #000);
  --border-radius: var(--big, 7px) var(--mid, 5px) var(--small, 2px)
    var(--off, 0px);
  // --mar-bl: var(--big, 8px) var(--mid, 5px) var(--small, 2px) var(--off, 0px);
  // --bor-wid: var(--big, 5px) var(--mid, 2px) var(--small, 1px) var(--off, 0px);
  --mar-bl: var(--big, 5px) var(--mid, 0px) var(--small, 0px) var(--off, 0px);
  --bor-wid: var(--big, 5px) var(--mid, 5px) var(--small, 3px) var(--off, 0px);
  --switcher-1-top: var(--big, 16%) var(--mid, 12%) var(--small, 5%)
    var(--off, 5%);
  --switcher-1-lab: var(--big, 32px) var(--mid, 27px) var(--small, 22px)
    var(--off, 22px);

  --mar-blqw: var(--small, 2px) var(--big, 8px) var(--mid, 5px) var(--off, 0px);
  --mar-bl-endqw: var(--small, 15px) var(--big, 25px) var(--mid, 17px);
  --mar-bl-strqw: var(--small, 15px) var(--big, 25px) var(--mid, 17px);
}
hr {
  margin-block-start: var(--mar-bl);
  margin-block-end: var(--mar-bl);
  border-width: var(--bor-wid);
}
.helloys {
  h1,
  h2 {
    margin: 0px 0px var(--mar-bl);
  }
}
.menu-list__items .menu-list-link {
  width: var(--width);
  height: var(--height);
  font-size: var(--font-size-big);
  // font-weight: var(--font-weight);
  border: var(--border);
  border-radius: var(--border-radius);
}
.ul {
  width: var(--width);
  font-size: var(--font-size-smail);
}
// m-s-switcher (кнопки)
.header-menu__bottom {
  .menu-set__items {
    height: var(--height);
  }
}
.m-s-switcher {
  // -1(черно зелёный)
  &-1 {
    &:before,
    &::after {
      top: var(--switcher-1-top);
    }
    label {
      height: var(--switcher-1-lab);
    }
  }
  // -2,3(черно белые)
  &-2-3 {
    .m-s-switchers {
      height: var(--height);
      input {
        height: var(--height);
      }

      label {
        // height: var(--height);
        // border-radius: 5px;
      }
    }
  }
}
.m-s-switcher-2-3 .m-s-switcher-3 label {
  // border-radius: 5px;
  height: var(--height);
  // height: 10px;
}
// m-s-switcher (кнопки)
// !
// Советы по дизайну
// Изображения в тёмном режиме
// ! Применяем фильтр напрямую к тегу <body>
// body.dark-theme img {
//   filter: brightness(0.8) contrast(1.2);
// }
/* Или применяем через медиа-запрос */
// @media (prefers-color-scheme: dark) {
//   img {
//     filter: brightness(.3) contrast(1.8);
//   }
// }

// @media (prefers-color-scheme: dark) {
//   img {
//     opacity: .75;
//     transition: opacity .5s ease-in-out;
//   }
//   img:hover {
//     opacity: 1;
//   }
// }
// куски для темной темы
// background: rgba(0, 0, 0, 0.7);
// !!! https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode
// заставит буквы казаться дальше друг от друга, Увеличение интерлиньяжа в абзацах,  увеличить расстояние между словами
// p {
//   font-family: var(--font-family);
//   line-height: 1.5;
//  }

//   @media (prefers-color-scheme: dark) {
//   p {
//   font-family: var(--font-family-light);
//   line-height: 1.7;
//   word-spacing: .05em;}
//   }
// }
// .mechagodzilla img {
//   filter: drop-shadow(0 2px 4px #969696); }

//   @media (prefers-color-scheme: dark) {
//   .mechagodzilla img {
//   filter: drop-shadow(0 2px 4px #0b0b0b); }
//   }
// :root {
//   --color-background: #ffffff;
//   --color-border: #cacfd5;
//   --color-text-default: #0b1016;
//   --color-base: #f4f5f6;
//   --color-accent: #ba0d37; }
//   @media (prefers-color-scheme: dark) {
//     :root {
//     --color-background: #38444c;
//     --color-border: #697278;
//     --color-text-default: #f0f2f3;
//     --color-base: #293238;
//     --color-accent: #ec1a62; }
//     }
